<div class="main-page">
    <h1>
      Welcome to myFlix!
    </h1>
    <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      style="margin-right: 20px; font-size: x-large;"
      color="primary"
    >
      Sign Up
    </button>
    <button
      mat-raised-button
      (click)="openUserLoginDialog()"
      style="margin-right: 20px; font-size: x-large;"
      color="primary"
    >
      Login
    </button>
    <!-- <button
      mat-raised-button
      color="primary"
      style="margin-right: 20px; font-size: large;"
      (click)="openMoviesDialog()"
    >
      All Movies
    </button> -->
  </div>
